<div *ngIf="post" class="post-detail-container">
  <div class="header">
    <a class="back-arrow" routerLink="/feed">&#8592;</a>
    <h1 class="post-title">{{ post.title }}</h1>
  </div>

  <div class="meta-info">
    <span>{{ post.createdAt | date: 'shortDate' }}</span> -
    <span>{{ post.author }}</span> -
    <span>{{ post.topic }}</span>
  </div>

  <div class="post-content">
    <p>{{ post.content }}</p>
  </div>

  <hr />

  <div class="comments-section">
    <h3>Commentaires</h3>
    <div *ngFor="let comment of comments" class="comment-item">
      <div class="comment-line">
        <span class="comment-author">{{ comment.author }}</span>
        <div class="comment-bubble">{{ comment.content }}</div>
      </div>
    </div>

    <div class="comment-form">
      <textarea
        [(ngModel)]="newComment.content"
        name="newComment"
        placeholder="Ajouter un commentaire..."
        rows="3"
      ></textarea>
      <button
        (click)="addComment()"
        [disabled]="!newComment.content"
        title="Envoyer"
      >
        📩
      </button>
    </div>
  </div>
</div>
