<div class="create-post-container">
  <a class="back-arrow" routerLink="/feed">
    &#8592;
  </a>

  <form class="create-post-form" #postForm="ngForm" (ngSubmit)="createPost()">
    <h1>Créer un nouvel article</h1>

    <p>Sujet</p>
    <mat-form-field appearance="outline" floatLabel="never">
      <mat-select [(ngModel)]="topicId" name="topic" required placeholder="Selectionner un nouvel article">
        <mat-option *ngFor="let topic of topics" [value]="topic.id">{{ topic.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <p>Titre</p>
    <mat-form-field appearance="outline" floatLabel="never">
      <input matInput [(ngModel)]="newPost.title" name="title" required placeholder="Titre de l'article" />
    </mat-form-field>

    <p>Contenu</p>
    <mat-form-field appearance="outline" floatLabel="never">
      <textarea matInput [(ngModel)]="newPost.content" name="content" required placeholder="Contenu de l'article"></textarea>
    </mat-form-field>

    <button class="purple-button" type="submit" [disabled]="postForm.invalid">Créer</button>
  </form>
</div>
